@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.section-dark {
  background-color: #e2e2e2;
}

a:hover, .current:visited, .current {
  background-color: #0074d9;
  color: #fff;
}

a, a:visited {
  color: #0074d9;
  text-decoration: none;
}
